@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
  }
  
  body{
    width: 100%;
    margin: 0;
    font-family: sans-serif;
  }
  
  #AllPage {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: white;
  }

  #logo {
    width: auto;
    display: flex;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 10%;
  }

  #logo:hover{
    background-color: #000000;
    transition: background-color 1000ms ease;
    opacity: 0.8;
    border-radius: 8px;
    #textLogo{
      color: white;
    }
  }

  #LogoIcon{
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    object-fit: cover;
  }

  #textLogo{
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  #CentPage {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
  }

  .insertData{
    display: block;
    width: 100%; /* Ajuste conforme necessário */
    height: 350px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    justify-content: space-around;
  }

  #labelLogin{
    padding-bottom: 10px;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #labelEmail {
    padding-bottom: 5px;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #labelPassword {
    padding-bottom: 5px;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #InputEmail1{
    width: 100% !important;
  }

  #InputEmail1:hover{
    box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    border-color: rgb(44, 17, 22);
  }

  #InputPassword1{
    width: 100% !important;
  }

  #InputPassword1:hover{
    box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    border-color: rgb(44, 17, 22);
  }

  #InputEmail1:focus{
    border-color: rgb(44, 17, 22);
    background-color: #e4e4e4;
    box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
  }

  #InputPassword1:focus{
    border-color: rgb(44, 17, 22);
    background-color: #e4e4e4;
    box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
  }

  #InputEmail1::placeholder{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #InputPassword1::placeholder{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

    #emailHelp{
        display: block;
        color: #665b54 !important;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
        padding-bottom: 5px;
    }

    #checkgroup{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #labelCheck{
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #exCheck1:checked {
        background-color: black;
        border-color: #ADA49E;
    }

    #exCheck1:focus{
        border-color: #ADA49E;
        box-shadow: 0px 0px .250em #ADA49E;
    }

    #exCheck1:hover{
        border-color: #ADA49E;
        box-shadow: 0px 0px .250em #ADA49E;
    }

    #btnEnter{
        background-color: black;
        border-color: white;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #btnEnter:hover{
        background-color: rgb(51, 49, 49);
        border-color: rgb(201, 186, 186);
        box-shadow: 0px 0px .250em #636160;
    }

    #btnEnter:active{
        background-color: rgb(51, 49, 49);
        border-color: rgb(201, 186, 186);
    }


  @media (max-width: 768px) {

    #AllPage{
      display: flex;
      align-items: center;
      height: 100vh;
      width: 100%;
      min-width: 480px;
    }

    #logo{
        display: flex;
        position: absolute;
        top: 5%;
        margin-left: 25%;
        margin-right: 25%;
    }

    #LogoIcon{
      display: flex;
      align-items: center;
      width: 28px;
      height: 28px;
      object-fit: cover;
    }
  
    #CentPage{
        width: 100%;
        display: flex;
        align-items: center;
        position: absolute;
    }

    .insertData{
        width: 100%; /* Ajuste conforme necessário */
        margin-left: 25%;
        margin-right: 25%;
        background-color: white;
        justify-content: space-around;
    }

    #InputEmail1{
      width: 100% !important;
    }

    #InputPassword1{
      width: 100% !important;
    }

  }