@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
  }
  
  body{
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    display: block;
  }
  
  #AllPage {
    display: flex;
    height: 100vh;
    width: 100%;
    /* min-width: 1280px; */
    align-items: center;
    background-color: white;
  }

  #logo {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 10%;
  }

  #aniLogo{
    width: min-content;
    display: inline-flex;
  }

  #aniLogo:hover{
    background-color: #000000;
    transition: background-color 1000ms ease;
    opacity: 0.8;
    border-radius: 8px;
    #textLogo{
      color: white;
    }
  }

  #LogoIcon{
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 5px;
    object-fit: cover;
  }

  #textLogo{
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  #CentPage {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
  }

  .insertData{
    display: block;
    width: 100%; /* Ajuste conforme necessário */
    margin-left: 25%;
    margin-right: 25%;
    background-color: white;
    justify-content: space-around;
  }

  #labelLogin{
    padding-bottom: 10px;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #labelFName  {
    padding-bottom: 5px;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #labelLName {
    padding-bottom: 5px;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #labelEmail {
    padding-bottom: 5px;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #labelPassword {
    padding-bottom: 5px;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #labelCPassword {
    padding-bottom: 5px;
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  #signUpNE {
    width: 100%;
    display: table;
    padding-bottom: 5px;
  }

  #FNameResponsive {
    width: 50%;
    float: left;
    position: relative;
    padding-right: 10px;
  }

  #LNameResponsive {
    width: 50%;
    float: left;
    position: relative;
    padding-left: 10px;
  }

  .form-groupP {
    padding-bottom: 5px;
  }

  #InputFName1 {
    width: 100%;
  }

  #InputFName1:hover{
    box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    border-color: rgb(44, 17, 22);
  }

  #InputLName1{
    width: 100%;
  }

  #InputLName1:hover{
    box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    border-color: rgb(44, 17, 22);
  }

  #InputEmail1{
    width: 100% !important;
  }

  #InputEmail1:hover{
    box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    border-color: rgb(44, 17, 22);
  }

  #InputPassword1{
    width: 100% !important;
  }

  #InputPassword1:hover{
    box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    border-color: rgb(44, 17, 22);
  }

  #InputCPassword1{
    width: 100% !important;
  }

  #InputCPassword1:hover{
    box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    border-color: rgb(44, 17, 22);
  }

    #InputFName1:focus{
        border-color: rgb(44, 17, 22);
        background-color: #e4e4e4;
        box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    }

    #InputLName1:focus{
        border-color: rgb(44, 17, 22);
        background-color: #e4e4e4;
        box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    }

    #InputEmail1:focus{
        border-color: rgb(44, 17, 22);
        background-color: #e4e4e4;
        box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    }

    #InputPassword1:focus{
        border-color: rgb(44, 17, 22);
        background-color: #e4e4e4;
        box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    }

    #InputCPassword1:focus{
        border-color: rgb(44, 17, 22);
        background-color: #e4e4e4;
        box-shadow: 0 0 0 0.25rem rgb(58, 57, 57);
    }

    #InputFName1::placeholder{
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #InputLName1::placeholder{
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #InputEmail1::placeholder{
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #InputPassword1::placeholder{
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #InputCPassword1::placeholder{
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #emailHelp{
      display: block;
      color: #665b54 !important;
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
      padding-bottom: 5px;
    }

    #checkgroup{
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #labelCheck{
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #exCheck1:checked {
        background-color: black;
        border-color: #ADA49E;
    }

    #exCheck1:focus{
        border-color: #ADA49E;
        box-shadow: 0px 0px .250em #ADA49E;
    }

    #exCheck1:hover{
      border-color: #ADA49E;
      box-shadow: 0px 0px .250em #ADA49E;
    }

    #btnEnter{
        background-color: black;
        border-color: white;
        font-family: 'Poppins', Arial, Helvetica, sans-serif;
    }

    #btnEnter:hover{
        background-color: rgb(51, 49, 49);
        border-color: rgb(201, 186, 186);
        box-shadow: 0px 0px .250em #636160;
    }

    #btnEnter:active{
        background-color: rgb(51, 49, 49);
        border-color: rgb(201, 186, 186);
    }


  @media (max-width: 768px) {
    /* body{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    #root{
      justify-content: space-around;
      height: 50vh;
      width: 50%;
      min-width: 1280px;
    } */

    #AllPage{
      display: flex;
      align-items: center;
      height: 100vh;
      width: 100%;
      min-width: 350px;
    }

    #logo{
        margin-top: 5%;
        width: auto !important;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        align-items: center;
        cursor: pointer;
    }

    #LogoIcon{
      display: flex;
      object-fit: cover;
    }

    
    #InputFName1::placeholder{
      text-align: center;
    }

    #InputLName1::placeholder{
      text-align: center;
    }

    #InputEmail1::placeholder{
      text-align: center;
    }

    #InputPassword1::placeholder{
      text-align: center;
    }

    #InputCPassword1::placeholder{
      text-align: center;
    }
  
    #CentPage{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        position: absolute;
        height: auto;
    }

    #checkgroup{
      text-align: initial !important;
    }

    .insertData{
        width: 100%; /* Ajuste conforme necessário */
        background-color: white;
        justify-content: space-around;
    }

    #signUpNE {
        width: 100%;
        display: flex;
        padding-bottom: 5px;
        flex-direction: column;
      }

    #FNameResponsive {
        width: 100%;
        position: relative;
        padding-bottom: 5px;
        padding-right: 0px !important;
    }

    #LNameResponsive {
        width: 100%;
        position: relative;
        padding-left: 0px !important;
    }

  }

  @media(max-width: 350px) {
    #AllPage{
      display: flex;
      align-items: center;
      height: 100vh;
      width: 100%;
      min-width: 175px;
      overflow-y: auto;
    }

    .insertData{
      width: 100%; /* Ajuste conforme necessário */
      /* margin-left: auto;
      margin-right: auto; */
    }

    #logo{
      margin-top: 5%;
      width: 100% !important;
      display: flex;
      justify-content: center;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      align-items: center;
      cursor: pointer;
    }

    #InputFName1::placeholder{
      text-align: center;
    }

    #InputLName1::placeholder{
      text-align: center;
    }

    #InputEmail1::placeholder{
      text-align: center;
    }

    #InputPassword1::placeholder{
      text-align: center;
    }

    #InputCPassword1::placeholder{
      text-align: center;
    }

    #CentPage{
      width: auto;
      margin: 10px;
      justify-content: center;
      display: flex;
      align-items: center;
      text-align: center;
      position: fixed;
      /* background-color: aqua; */
      height: 100vh;
    }
  }