#BarraSuperiorC{
    display: flex !important;
    align-items: center;
    width: 100%;
    background: white;
    transition: 1s;
    padding: 10px;
}

#BarraSuperiorC div#TitleText{
    white-space: nowrap;
    margin-left: 1px;
    align-items: center;
    display: flex;
    padding: 4px 5px;
    justify-content: center;
  }

  #LeftSect #DivTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #LeftSect:hover{
    cursor: default;
  }

  #LeftSect span{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0 10px 0 0;

    cursor: pointer;

    color: rgba(0, 0, 0, .7);
    font-size: 1.2em;

    height: 20px;

    transition: .5s;
  }
  
  #LeftSect span:hover{
    color: rgba(0, 0, 0, 1);
  }


