#custom-tooltip{
    position: absolute;

    z-index: 999;
}

#custom-tooltip #card{
    position: relative;

    display: flex;
    align-items: baseline;
    justify-items: baseline;

    width: 400px;
    height: 240px;

    margin-top: 5px;

    object-fit: cover;

    font-size: .3em;
    
    overflow-y: hidden;
}

#custom-tooltip #card #MidIconInside{
    position: absolute;
    right: 240%;
    width: 50%;
}

#custom-tooltip .card-img-top{
    height: 100px;
    object-fit: cover;
}