#ClockI{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    /* css default aberto a alterações a vontade */
}

#ClockI:hover{
    background: rgba(0, 0, 0, .1);
}

#ClockIconOption{
    width: 15px;
    height: 15px;
    padding: 2px;
    background: url('../assets/ClockIcon.png') no-repeat;
    background-size: cover;
    cursor: pointer;
    /* css default aberto a alterações a vontade */
}