#CommentIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding-bottom: 1px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    border-radius: 6px;
    font-size: 1em;
}

#CommentIcon:hover{
    background: rgba(0, 0, 0, .1);
}