/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*, body, ol, dl, ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body{
  padding-right: 0 !important;
}

#ContainerSuperior{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 7px 0;
  background: white;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  padding-right: 10px;
}

#ContainerSuperior.drawer-open {
  margin-left: 240px; /* Largura do Drawer */
}

#ContainerSuperior div#TitleText{
  white-space: nowrap;
  margin-left: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ContainerSuperior div#TitleText:hover{
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: rgba(0, 0, 0, .1);
}

#ContainerSuperior div#TitleText h2{
  margin: 0;
  margin-right: 5px;
  font-size: 1.5em;
}
 
div#ShareB{
  padding: 15px 10px;
}

div#ShareB h2{
  font-size: 1.5em;
  margin: 0;
}

div#ShareB:hover{
  background: rgba(0, 0, 0, .1);
}

div#ShareButtonText{
  font-size: .65em;
  width: auto;
  height: auto;
}

div#ThreeDI:hover{
  background: rgba(0, 0, 0, .1);
}

#EditedInfo p{
  margin: 0;
}

#Drawer {
  width: 30%;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
  justify-content: space-between;
}

.MuiPaper-root{
  height: 100%;
  border-right: 3px solid #ccc;

}

.MuiDrawer-paper {
  width: 30%;
  padding: .7em;
}

.DrawerLi{
  margin: 0 0 3px 0;
}

.AvatarLi{
  margin-bottom: 10px;
}

.iconeDoDrawer{
  padding-right: 5px;
}

#Drawer a .avatar {
  margin: 0 10px 0 0px;
  width: 40px;
  height: 40px;
}

#Drawer #AvatarLink {
  padding: 0;
  width: auto;
  display: block;
  border: none;
}

#Drawer #AvatarLink .avatar:hover{
  box-shadow: 0px 0px 10px black;
  transition: .2s;
}

#Drawer ul li a{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: start;

  border: 1px solid rgba(0, 0, 0, .03);
}

#Drawer #Pags .DrawerLi .active{
  font-weight: bolder;
  font-size: .8em;
}

#Drawer #Pags .DrawerLi #MidIconOutside{
  width: 25px;
  height: 25px;
  font-weight: bolder;
  font-size: .8em;
  margin-bottom: -2.5px;
}

#Pags .pag{
  font-weight: bolder;
}

@media (max-width: 590px) {
  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper ul li a,
  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper ul li b{
    font-size: .8em;
  }
  
}

@media(max-width:700px){
  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper, .MuiDrawer-paper, .MuiPaper-root{
    width: 58%;
  }
}