/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*, ol, dl, ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

#ContainerSuperior{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 7px 0;
  background: white;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  padding-right: 10px;
}

#ContainerSuperior.drawer-open {
  margin-left: 240px; /* Largura do Drawer */
}

#ContainerSuperior div#TitleText{
  white-space: nowrap;
  margin-left: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#ContainerSuperior div#TitleText:hover{
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  background: rgba(0, 0, 0, .1);
}

#ContainerSuperior div#TitleText h2{
  margin: 0;
  margin-right: 5px;
  font-size: 1.5em;
}
 
div#ShareB{
  padding: 15px 10px;
}

div#ShareB h2{
  font-size: 1.5em;
  margin: 0;
}

div#ShareB:hover{
  background: rgba(0, 0, 0, .1);
}

div#ShareButtonText{
  font-size: .65em;
  width: auto;
  height: auto;
}

div#ThreeDI:hover{
  background: rgba(0, 0, 0, .1);
}

#EditedInfo p{
  margin: 0;
}

#Drawer {
  width: 30%;
  
  flex-shrink: 0;
  flex-direction: column;
}

.MuiPaper-root{
  height: 100%;
}

#Drawer .avatar {
  margin: 0 5px 0 0px;
  width: 40px;
  height: 40px;
}

.MuiDrawer-paper {
  width: 30%;
  padding: 1em;
}