#DiaADiaImage img{
    display: block; 
    object-fit: cover; 
    border-radius: 1px; 
    pointer-events: auto; 
    max-width: 960.000%; 
    max-height: 265.866%;
    width: 60%;
    height: auto;
}

#DiaADiaImage {
    height: 100%; 
    width: 100%;
}