.emoji-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
  }
  
  .emoji-menu span{
    padding: 4px 0;
    margin: 0 1px;
  }

  .emoji-menu span:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: .1s;
    margin: 0 2px;
  }

  .emoji-container{
    display: inline-block;
    z-index: 2;
  }

  .emoji-container button#BotãoEmoji{
    display: flex;
    background: none;

    width: 30px;
    height: 30px;

    font-size: 1.3em;

    align-items: center;
    justify-content: center;
  }

  .emoji-container button#BotãoEmoji:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .2s;
  }