.emoji-menu {
    display: block;

    position: absolute;

    background-color: #f9f9f9;

    min-width: 100px;
    width: 200px;
    height: 200px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    border-radius: 5px;
    padding: 10px;

    z-index: 999;
  }
  
  .emoji-menu span{
    position: relative;
    padding: 4px 0;
    z-index: 998;
  }

  .emoji-menu span:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: .1s;
    padding: 5px 1px;
  }

  .emoji-container{
    position: relative; /* Mudança para permitir que o menu de emojis seja posicionado em relação a este contêiner */
    display: inline-block;
    z-index: 0;
  }

  .emoji-container button#BotãoEmoji{
    display: flex;
    background: none;

    width: 30px;
    height: 30px;

    font-size: 1.3em;

    align-items: center;
    justify-content: center;

    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .emoji-container button#BotãoEmoji:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .2s;
  }