.custom-textarea-container {
  position: relative;
}

#Input{
    width: 93.5%;

    font-size: 1.3em;

    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0 0 4px 4px;
    border-top: none;

    resize: none;

    padding: 10px 50px;

    line-height: 1.4em;

    z-index: 1;
  }

#Input:focus, select:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.custom-title {
  width: 93.5%;
  
  font-size: 1.4em;

  position: sticky;

  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px 4px 0px 0px;
  border-bottom: none;

  padding: 20px 50px 0; /* Adiciona padding-left para o título simulado */

  line-height: 1.5;
}

.custom-title:focus{
  outline: none;
}