#Spacer{
    background: rgb(211, 211, 211);

    display: flex;

    max-width: 100%; 
    width: 100%; 

    white-space: pre-wrap;
    word-break: break-word;

    padding: 3px 2px;
    min-height: 1em;
    height: 24px;
    margin: 25px 0 0 0;

    outline: none;
    border: none;
    
    /* -webkit-text-fill-color: rgb(255, 255, 255); */ /* esse aqui muda a cor do placeholder */
}

#Spacer input{
    width: 100%;
    height: 100%;

    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);

    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
}

#Spacer.top{
    margin-bottom: 2px;
}

