@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#btnEnter{
    background-color: black;
    border-color: white;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#btnEnter:hover{
    background-color: rgb(51, 49, 49);
    border-color: rgb(201, 186, 186);
    box-shadow: 0px 0px .250em #636160;
}

#btnEnter:active{
    background-color: rgb(51, 49, 49);
    border-color: rgb(201, 186, 186);
}
