  #logo {
    width: 20%;
    height: 100%;
  }

  #aniLogo{
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 25vh;
    max-width: 100%;
  }

  #aniLogo:hover{
    background-color: #000000;
    transition: background-color 1000ms ease;
    opacity: 0.8;
    border-radius: 8px;
    #textLogo{
      color: white;
    }
  }

  #LogoIcon{
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    object-fit: cover;
  }

  #textLogo{
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  @media (max-width: 768px){
    #logo{
      width: 100vw;
      height: 15vh;
      position: absolute;
      top: 10vw;
    }
    #aniLogo{
      display: flex;
      max-width: 100%;
      height: 10vh;
    }

  }

  @media (max-width: 350px){
    #logo{
      width: 100vw;
      height: 15vh;
      position: absolute;
      top: 10vw;
    }
    #aniLogo{
      display: flex;
      max-width: 100%;
      height: 10vh;
    }
  }