  #AllPageLoginSign #logo{
    width: 100%;
    display: flex;
    height: fit-content;
    position: relative;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
  }

  #AllPageLoginSign #logo #aniLogo{
    position: relative;
    margin: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20%;
    max-width: 100%;
    border-radius: 4px;
    background-color: white;
  }

  #AllPageLoginSign #logo #aniLogo #LogoIcon{
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    margin-right: 10px;
    object-fit: cover;
  }

  #AllPageLoginSign #logo #aniLogo #textLogo{
    font-size: large;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

@media (max-width: 768px){
  #AllPageLoginSign #logo{
    width: 100%;
    display: flex;
    height: fit-content;
    position: relative;
    align-items: center;
    justify-content: space-around;
    z-index: 122;
  }

  #AllPageLoginSign #logo #aniLogo{
    position: relative;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20%;
    max-width: 100%;
  }

}

@media (max-width: 350px){
  #AllPageLoginSign #logo{
    width: 100%;
    display: flex;
    height: fit-content;
    position: relative;
    align-items: center;
    justify-content: space-around;
    z-index: 122;
  }

  #AllPageLoginSign #logo #aniLogo{
    position: relative;
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20%;
    max-width: 100%;
  }
}