@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.t{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #212529;
}

.m{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0;
    color: #212529;
}

.btnModal{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #212529;
    transition: border-color 0.5s ease-in-out;
    border-radius: 4px;
    padding: 10px;
    transition: ease-in-out 0.3s;
}

.btnModal:hover{
    color: #212529;
    border-color: rgb(201, 186, 186);
    background-color: #DDDDDD;
}

.modal-overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.modal-content {
    justify-items: center;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 4px;
    max-width: 500px;
    height: 40%;
    width: 100%;
}


.modal-title{
    display: flex;
    justify-content: center;
}
  
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #DDDDDD;
}

.btnArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
