@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

@keyframes objectAppearance{
    0%{
       opacity: 0; 
    }

    100%{
        opacity: 1;
    }
}

@keyframes colorChange {
    0% {
      background-color: rgb(51, 49, 49);
    }
    100% {
      background-color: rgb(100, 100, 100);
    }
}

@keyframes colorChange2 {
    0% {
      background-color: rgb(173, 34, 34);
    }
    100% {
      background-color: rgb(255, 0, 0);
    }
}

@keyframes colorChange3 {
    0% {
      background-color: #3d3a38;
    }
    100% {
      background-color: #81746c;
    }
}


.t{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.m{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin: 0;
    color: rgb(255, 255, 255);
}


.btnModal{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    height: 35px;
    max-height: 100%;
    width: 20%;
    cursor: pointer;
    color: white;
    background-color: black;
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.btnModal:hover{
    /* background-image: linear-gradient( to right, black, rgb(122, 122, 122) ); */
    border-color: rgb(201, 186, 186);
    box-shadow: 0px 0px .250em #636160;
    animation: colorChange 1s infinite alternate;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: objectAppearance 1s normal ease-in;
}
  
.modal-content { 
    /* muda esse safado em casa */
    justify-items: center;
    display: flex;
    background-color: rgb(173, 34, 34);
    border-radius: 5px;
    max-width: 100%;
    width: 500px;
    animation: colorChange2 3s infinite alternate;
    transition: objectAppearance 1s normal ease-in;
}


.modal-title{
    display: flex;
    justify-content: center;
}

.modal-errorsymb {
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: center;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
}

.modal-errorsymb .i {
    margin: 5px 0px;
    width: min-content;
    height: 50px;
    border-radius: 50%;
    background-color: #f80707;
    line-height: 60px;
    /* animation: colorChange2 3s infinite alternate; */
    text-align: center;
    display: inline-block;
}
  
.modal-body {
    background-color: #3d3a38;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    animation: colorChange3 3s infinite alternate;
}

.btnArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}
