#DadModalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

#ModalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(10px);
    z-index: 999;
}

#ModalContainerMax{
    z-index: 1000;

    width: 80%;
    height: 80%;
}

#ModalContainerMax .card-header{
    padding: 0 6px;
}

#ContainerConteudoCard{
    overflow-y: scroll;
    height: 100%;
}

#CardBanner{
    height: 20vh;
}

#CardBanner img{
    object-fit: cover;
    object-position: center 50%;
    height: 100%;
    width: 100%;
 }

 #InnerContainerConteudoCard{
    padding: 0 80px;
 }

#InnerContainerConteudoCard #Separator{
    display: flex;
    width: fit-content;

    position: relative;
    left: 0;
 }

 #Separator .emoji-container button{
    width: 80px;
    height: 80px;
    font-size: 68px;

    border: none;
 }

 #Separator .emoji-container button:hover{
    outline: none;
    border: none;
 }

 #InnerContainerConteudoCard #DivTitulo{
    margin-top: -20px;
    margin-bottom: 20px;
    
    height: fit-content;
 }

 #InnerContainerConteudoCard #DivTitulo h2{
    margin: 0;

    font-size: 2.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

    text-transform: uppercase;
 }

#CustomTextArea{
    width: 100%;
    height: 500px !important;
    padding: 0 12px;
    margin: 0;
    border: none;
    outline: none;
    resize: none; /* Remove a possibilidade de redimensionar */
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
    font-family: inherit; /* Herda a família de fonte do elemento pai */
    font-size: inherit; /* Herda o tamanho da fonte do elemento pai */
    background: transparent; /* Remove fundo padrão */
    color: inherit; /* Herda a cor do texto do elemento pai */
    overflow-y: none;
}

input[type='file']{
    display: none;
}

#CustomFileUpl{
    margin:0 2px 12px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

#CustomFileUpl:hover{
    background-color: var(--bs-btn-hover-bg);
}

.icone{
    margin: 0 10px 0 0;
}

 @media (min-width: 1000px) {
    #ModalContainerMax{
        width: 50%;
    }
 }