#NItemContainer{
    display: flex;
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, .05);
    height: 187px;
}

#NItem {
    display: flex;
    align-items: center;
    justify-content: baseline;

    padding: 8px 5px;

    height: 0px;
}

#NItem .emoji-container{
    margin-right: 5px;
}

#NItem .emoji-container button{
    width: 25px;
    height: 25px;

    font-size: 1.1em;
}

#NItemText{
    display: flex;
    align-items: center;

    width: 100%;
    margin: 0;
}

#NItemText input{
    width: 100%;

    outline: none;
    border: none;
    
    font-weight: 510;
    font-family: "Lyon text";

    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0) ;
}

#NItemContainer .card-img-top{
    object-fit: cover;
    height: 81%;
}

#NItemContainer .card-img-top:hover{
    cursor: pointer;
    opacity: .9;
}