#TitleText{
    display: flex;
    align-items: center;
    /* width: 300px; */
    /* height: 30px; */
    width: 200px;
    height: auto;
    font-size: 10px;
    cursor: pointer;
    /* css default aberto a alterações a vontade */
}

#TitleText:hover{
    background: rgba(255, 255, 255, .5);
    border-radius: 6px;
    /* white-space: nowrap; */
}

#TitleTextIcon{
    display: flex;
    width: 15px;
    height: 15px;
    cursor: pointer;
    /* css default aberto a alterações a vontade */
    margin-right: 5px;
}

#TitleTextIcon img{
    width: 20px;
}