#TopBarList{
    display: flex;
    list-style: none;
    padding-top: 3px;
}

#TopBarList li a {
    display: flex;
    font-size: .95em;
    color: inherit;
}

#TopBarList li a img{
    width: 25px;
    margin-right: 5px;
}

/* .ListItem{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px 7px;
    border-radius: 5px;

    font-size: .95em;
    text-overflow: ellipsis;

    margin-right: 5px;
}

.ListItem:hover{
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: .2s;
}

#TopBarList .ListItem a{
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    height: 100%;
}

#TopBarList .ListItem a span{
    margin-left: 4px;
    margin-top: 2px;
}

.primary .ListItem{
    border-bottom: 2px solid black;
}  */