#tripleBar{

    padding: 4px 5px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 5px;

    cursor: pointer;
}

#Bars{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Bars img{
    width: 16px;
}

#tripleBar:hover{
    background: rgba(0, 0, 0, .1);
    transition: .4s;
}