#tripleBar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 14.3%;
    left: .2%;
    border-radius: 5px;
}

#Bars{
    width: 20px;
    height: 20px;
    background: url(../assets/menu-tres-barras-destacadas.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}

#tripleBar:hover{
    background: rgba(0, 0, 0, .1);
    transition: .4s;
}