

#Bars:hover{
    outline: 10px solid rgba(0, 0, 0, 0.5);
}

#Bars{
    width: 20px;
    height: 20px;
    margin: 16px;
    background: url(../assets/menu-tres-barras-destacadas.png) no-repeat;
    background-size: cover;
    cursor: pointer;
}