*{
  padding: 0;
  margin: 0;
}

#ConteudoPrincipal{
    display: flex;
    align-items: center;
    flex-direction: column;
  
    position: relative;
    bottom: 15px;
  
    margin: 0 auto;
  
    width: 80%;
}
  
  #ConteudoPrincipal section{
    width: 100%;
  }
  
  #ContainerSuperior{
    position: fixed;
    z-index: 100;
  }
  
  #DivTitulo h2{
    font-family: "Lyon-text";
    font-size: 2.2em;
  }
  
  section{
    position: relative;
  }
  
  textarea#Input{
    height: 25vh;
  }
  /* #MidIconOutside{
    position: absolute;
  
    top: -45px;
    right: 100%;
    z-index: 3;
  } */
  
  #ItensContainer{
    padding-bottom: 0px;
    min-width: calc(100% - 192px);
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 4px;
  }

  #NavegacaoBasica{
    width: 70%;
    height: 700px;
    margin-top: 40px;
    margin-bottom: 300px;
  }

  #NavegacaoBasica #DADComponent{
    width: 100%;
  }

  #NavegacaoBasica #DiaADiaImg{
    width: 100%;
  }

  #NavegacaoBasica #DiaADiaImg img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  #ConteudoPrincipal #top div.emoji-container{
    position: absolute;
    top: 63px;
    left: 12px;
    z-index: 1;
  }

  #main .emoji-container{
    z-index: 1;
  }