*{
    padding: 0;
    margin: 0;
  }
  
  #cardtooltiporiginal body{
    width: 100%;
    margin: 0;
    font-family: sans-serif;
  }
  
  #cardtooltiporiginal #root {
    height: 100%;
    width: 100%;
  }
  
  #cardtooltiporiginal  #ConteudoPrincipal{
    display: flex;
    align-items: center;
    flex-direction: column;
  
    position: relative;
    bottom: 15px;
  
    margin: 0 auto;
  
    width: 80%;
  }
  
  #cardtooltiporiginal  #ConteudoPrincipal section{
    width: 100%;
  }
  
  #cardtooltiporiginal #ContainerSuperior{
    position: fixed;
    z-index: 100;
  }
  
  #cardtooltiporiginal #DivTitulo h2{
    font-family: "Lyon-text";
    font-size: 2.2em;
  }
  
  #cardtooltiporiginal section{
    position: relative;
  }
  
  #cardtooltiporiginal #Input{
    height: 20vh;
  }
  
  #cardtooltiporiginal #BgBanner img{
    height: 100%;
  }
  /* #MidIconOutside{
    position: absolute;
  
    top: -45px;
    right: 100%;
    z-index: 3;
  } */