*{
  margin: 0;
  padding: 0;
}

#ContainerSuperior{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 7px 0;
    background: white;
    transition: 1s;
    padding-right: 10px;
  }
  
  #BgBanner{
    padding-top: 44px;
    height: 60vh;
  
    /* background: url(../assets/i_have_no_enemies___thorfinn___vinland_manga_3d_by_synedae_dg3gce9-fullview.jpg) no-repeat center; */
    /* background-size: cover; */
  }

  #BgBanner img{
    object-fit: cover;
    object-position: center 50%;
    height: 100%;
    width: 100%;

    /* background: url(../assets/i_have_no_enemies___thorfinn___vinland_manga_3d_by_synedae_dg3gce9-fullview.jpg) no-repeat center; */
    /* background-size: cover; */
  }
  
  div#tripleBar{
    padding: 0 5px;
  }
  
  #ParteEsquerda{
    margin-left: 5px;
  }

  #ContainerSuperior div#TitleText{
    white-space: nowrap;
    margin-left: 1px;
    align-items: center;
    display: flex;
    padding: 4px 5px;
    justify-content: center;
  }
  
  #ContainerSuperior div#TitleText:hover{
    transition: .2s;
    background: rgba(0, 0, 0, .1);
  }

  #ContainerSuperior div#TitleText h2{
    margin: 0;
    margin-right: 5px;
    font-size: 1.5em;
  }
  
  #ItensDoCanto{
    display: flex;
    align-items: center;
  }
  
  div#ShareB{
    padding: 15px 10px;
  }
  
  div#ShareB h2{
    font-size: 1.5em;
    margin: 0;
  }
  
  div#ShareB:hover{
    background: rgba(0, 0, 0, .1);
  }
  
  div#ShareButtonText{
    font-size: .65em;
    width: auto;
    height: auto;
  }
  
  #ThreeDI{
    margin-left: 5px;
  }
  
  div#ThreeDI:hover{
    background: rgba(0, 0, 0, .1);
  }
  
  div#FavoriteIcon{
    margin-left: 5px;
  }
  
  div#ClockI{
    margin-left: 5px;
  }
  
  div#CommentIcon{
    margin-left: 5px
  }

  #EditedInfo p{
    margin: 0;
  }