*{
  margin: 0;
  padding: 0;
}
  
  #BgBanner{
    padding-top: 44px;
    height: 60vh;
  }

  #BgBanner img{
    object-fit: cover;
    object-position: center 50%;
    height: 100%;
    width: 100%;
  }
  
  #ParteEsquerda{
    margin-left: 5px;
  }

  #ItensDoCanto{
    display: flex;
    align-items: center;
  }