*{
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  margin: 0;
}

#root {
  height: 100vh;
  min-width: 1280px;
  width: 100%;
}

#ContainerSuperior{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}

#BgBanner{
  height: 300px;
  width: 100%;

  background: url(assets/i_have_no_enemies___thorfinn___vinland_manga_3d_by_synedae_dg3gce9-fullview.jpg) no-repeat center;
  background-size: cover;
}

div#TitleText{
  margin-left: 4px;
  align-items: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 6px 0;
}

div#TitleText:hover{
  transition: .2s;
  background: rgba(0, 0, 0, .1);
}

#ItensDoCanto{
  display: flex;
  margin-left: 75%;
  align-items: center;
  justify-content: end;
}

div#ShareB{
  margin-left: 10px;
  padding: 5px 0;
}

div#ShareB:hover{
  background: rgba(0, 0, 0, .1);
}

div#ShareButtonText{
  font-size: .65em;
  width: auto;
  height: auto;
}

#ThreeDI{
  margin-left: 5px;
}

div#ThreeDI:hover{
  background: rgba(0, 0, 0, .1);
}

div#FavoriteIcon{
  margin-left: 5px;
}

#testes{
  max-width: 100%;
  width: 100%;
}