*{
  padding: 0;
  margin: 0;
  list-style: none;
}

body{
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

#root {
  height: 100% ;
  width: 100%;
}

#ConteudoPrincipal{
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;
  bottom: 15px;

  margin: 0 auto;

  width: 80%;
}

#ConteudoPrincipal section{
  width: 100%;
}

#ContainerSuperior{
  position: fixed;
  z-index: 100;
}

#DivTitulo h2{
  font-family: "Lyon-text";
  font-size: 2.2em;
}

section{
  position: relative;
}

#Input{
  height: 20vh;
}

#Separator{
  display: flex;
  width: fit-content;
  position: relative;
  bottom: 40px;
  left: 10%;
}
/* #MidIconOutside{
  position: absolute;

  top: -45px;
  right: 100%;
  z-index: 3;
} */

#ItensContainer{
  padding-bottom: 0px;
  min-width: calc(100% - 192px);
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 4px;
}

#NavegacaoBasica{
  width: 70%;
  height: 700px;
}

#main .emoji-container{
  z-index: 1;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}